.hljs
{
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #333333;
	background: #F8F8F8
}

.hljs-comment, .hljs-quote
{
	color: #999988;
	font-style: italic
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst
{
	color: #333333;
	font-weight: bold
}

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr
{
	color: #008080
}

.hljs-string, .hljs-doctag
{
	color: #DD1144
}

.hljs-title, .hljs-section, .hljs-selector-id
{
	color: #990000;
	font-weight: bold
}

.hljs-subst
{
	font-weight: normal
}

.hljs-type, .hljs-class .hljs-title
{
	color: #445588;
	font-weight: bold
}

.hljs-tag, .hljs-name, .hljs-attribute
{
	color: #000080;
	font-weight: normal
}

.hljs-regexp, .hljs-link
{
	color: #009926
}

.hljs-symbol, .hljs-bullet
{
	color: #990073
}

.hljs-built_in, .hljs-builtin-name
{
	color: #0086B3
}

.hljs-meta
{
	color: #999999;
	font-weight: bold
}

.hljs-deletion
{
	background: #FFDDDD
}

.hljs-addition
{
	background: #DDFFDD
}

.hljs-emphasis
{
	font-style: italic
}

.hljs-strong
{
	font-weight: bold
}