/* 状态类 */

*
{
	margin: 0;
	/* 对付 Safari 那个丑的要死的蓝色框框 */
	outline: none;
}
.no-gap
{
	padding-top: 0!important;
	padding-bottom: 0!important;
}
.center
{
	text-align: center;
}

/* 特殊元素 */

body
{
	background-color: #EFEFEF;
	color: black;
	font-family: "Consolas", sans-serif;
}
#main
{
	display: inline-block;
	width: calc(100% - 250px - 50px * 2 - 30px);
	height: calc(100% - 200px);
	position: absolute;
	left: calc(250px + 50px);
	top: 100px;
	padding-bottom: 40px;
	padding-left: 30px;
	background-color: white;
	box-shadow: 0 3px 10px #0000004D;
	overflow-y: scroll;
}
#guide
{
	display: inline-block;
	width: 250px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: white;
	box-shadow: 0 3px 10px #0000004D;

	overflow-y: auto;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
#guide::-webkit-scrollbar
{
	display: none;
}
#guide .text
{
	padding-left: 30px;
	line-height: 25px;
}
#guide a
{
	color: black;
}
#user_op a
{
	color: white;
}
#user_op a
{
	color: white;
}
#guide hr
{
	margin-left: 30px;
	width: calc(250px - 30px * 2);
}
#home
{
	display: block;
	padding-bottom: 30px;
	background-color: black;
	color: white!important;
}
#user
{
	display: flex;
	margin-top: 0;
}
#user>*:nth-child(1):not(#btn_user)
{
	display: inline-block;
	width: 100%;
	padding-right: 5px;
}
#user>*:nth-child(2)
{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
#user>*:nth-child(3)
{
	display: inline-block;
	width: 100%;
	padding-left: 5px;
}
#btn_user
{
	width: 100%;
}
#user_op
{
	position: fixed;
	color: white;
	background-color: black;
	box-shadow: 0 3px 10px #0000004D;
	z-index: 1;
	left: 275px;
	top: 100px;
}
#user_op .text
{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 25px;
}
#logo
{
	margin: 20px;
	border-radius: 10px;
}
#counter
{
	margin-top: 15px;
}
#pos
{
	position: absolute;
	left: calc(250px + 50px);
}
#copyright
{
	position: absolute;
	left: calc(250px + 50px);
	bottom: 5px;
	font-size: 15px;
}

/* 特效专区 */

#guide a:not(#home),#btn_user,#user_op>.text
{
	transition: background-color 500ms;
}
#guide a:not(#home):hover,#btn_user:hover,#user_op>.text:hover
{
	background-color: #C5C5C5;
}
a:hover
{
	text-decoration-style: dashed;
	color: #55bbff;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus
{
	border-left: 3px solid #EFEFEF;
	border-top: 3px solid #EFEFEF;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}
.button:hover,input[type=submit]:hover
{
	border-left: 3px solid #EFEFEF;
	border-top: 3px solid #EFEFEF;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}

/* 分工类 */

/* ----字体*/

.title,.md h1
{
	padding-top: 30px;
	padding-bottom: 20px;
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
.text,.md p:not(.title),.md h2,.md a,.md li,.md td,.md th,input,.button
{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 35px;
	font-size: 24px;
}
.md i+p,.md i+a
{
	display: inline-block;
}

/* ----列表 */

li>p,li>a
{
	padding-top: 0!important;
	padding-bottom: 0!important;
}
li:not(:first-child)
{
	padding-top: 5px;
}
li:not(:last-child)
{
	padding-bottom: 5px;
}
ul>li
{
	list-style-type: none;
}
ol>li
{
	display: list-item!important;
}
.li-icon
{
	margin-left: -20px;
	margin-right: 15px;
}

/* ----分割线 */

hr
{
	display: inline-block;
	width: calc(100% - 30px);
	height: 3.5px;
	border: none;
	background-color: white;
	box-shadow: 0 3px 10px #0000004D;
}

/* ----链接 */

#guide a,#user_op a
{
	text-decoration: none!important;
}
a
{
	color: #3498DB;
	text-decoration: underline;
}
p a,h2 a
{
	display: inline!important;
}

/* ----图片 */
img
{
	max-height: 640px;
}

/* ----表格 */

table
{
	border-collapse: collapse;
}
td,th
{
	display: table-cell!important;
	padding-left: 5px;
	padding-right: 5px;
}
table,tr,td,th
{
	border: solid 2px black;
}

/* ----代码块 */
pre>code
{
	font-size: 17px;
}

/* 表单 */

input[type=text],input[type=password],input[type=email]
{
	display: inline-block;
	width: 300px;
	padding: 5px 15px 5px 15px;
	margin: 10px 15px;

	border-left: 3px solid black;
	border-top: 3px solid black;
	border-right: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	border-radius: 10px 0 10px 0;

	outline: none;
	background-color: #EFEFEF;

	/* 特效 */
	transition: border 500ms;
}
.button,input[type=submit]
{
	display: inline-block;
	padding: 5px 15px 5px 15px;
	margin: 10px 15px;

	border-left: 3px solid black;
	border-top: 3px solid black;
	border-right: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	border-radius: 10px 0 10px 0;

	outline: none;
	background-color: #EFEFEF;

	/*特效 */
	transition: border 500ms;
}

/* 标签 */

.tag
{
	margin-right: 10px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 22px;
	border-radius: 5px 0;
	background-color: #ffe37c;

	transition: background-color 500ms,color 500ms;
}
.tag:hover
{
	background-color: #ffc900;
	color: white;
}