#main
{
	display: inline-block;
	width: calc(100% - 250px - 50px * 2 - 30px);
	height: calc(100% - 200px);
	position: absolute;
	left: calc(250px + 50px);
	top: 100px;
	padding-bottom: 40px;
	padding-left: 30px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 10px #0000004D;
	overflow-y: scroll;
}
#guide
{
	display: inline-block;
	width: 250px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	box-shadow: 0 3px 10px #0000004D;
}
#guide .text
{
	padding-left: 30px;
	line-height: 25px;
}
#guide a
{
	color: black;
}
#guide a>.text:not(#home):hover
{
	background-color: #EFEFEF;
}
#guide hr
{
	margin-left: 30px;
	width: calc(250px - 30px * 2);
}
#logo
{
	margin: 20px;
	border-radius: 10px;
}
#counter
{
	margin-top: 15px;
}
#pos
{
	position: absolute;
	left: calc(250px + 50px);
}
#home
{
	padding-bottom: 30px;
	background-color: black;
	color: white;
}
.title,#pos,#home,h1
{
	padding-top: 30px;
	padding-bottom: 20px;
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
.text,p,li,input[type=text],input[type=password],input[type=submit],input[type=email],.button
{
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 35px;
	font-size: 24px;
}
li:not(:first-child)
{
	padding-top: 5px;
}
li:not(:last-child)
{
	padding-bottom: 5px;
}
li
{
	list-style-type: none;
}
.li-icon
{
	margin-left: -20px;
	margin-right: 15px;
}
body
{
	background-color: #EFEFEF;
	color: #333333;
	font-family: Segoe UI;
}
hr
{
	display: inline-block;
	width: calc(100% - 30px);
	height: 3.5px;
	border: none;
	background-color: #FFFFFF;
	box-shadow: 0 3px 10px #0000004D;
}
a
{
	text-decoration: none;
	color: #3498DB;
}
*
{
	margin: 0;
}
@-webkit-keyframes input-focus
{
	from {}
	to
	{
		border-left: 3px solid #EFEFEF;
		border-top: 3px solid #EFEFEF;
		border-right: 3px solid black;
		border-bottom: 3px solid black;
	}
}
@-webkit-keyframes button-hover
{
	from {}
	to
	{
		background-color: #FFFFFF;
	}
}
input[type=text],input[type=password],input[type=email]
{
	padding: 5px 15px 5px 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 3px solid black;
	border-top: 3px solid black;
	border-right: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	border-radius: 10px 0 10px 0;
	outline: none;
	background-color: #EFEFEF;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus
{
	-webkit-animation: input-focus 1s 1 forwards;
}
.button,input[type=submit]
{
	width: auto;
	padding: 5px 15px 5px 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 3px solid black;
	border-radius: 10px 0 10px 0;
	outline: none;
	background-color: #EFEFEF;
}
.button:hover,input[type=submit]:hover
{
	-webkit-animation: button-hover 1s 1 forwards;
}