/* 状态类 */

*
{
	margin: 0;
}
.no-gap
{
	padding-top: 0!important;
	padding-bottom: 0!important;
}
.center
{
	text-align: center;
}

/* 特殊元素 */

body
{
	background-color: #EFEFEF;
	color: #333333;
	font-family: Segoe UI;
}
#main
{
	display: inline-block;
	width: calc(100% - 250px - 50px * 2 - 30px);
	height: calc(100% - 200px);
	position: absolute;
	left: calc(250px + 50px);
	top: 100px;
	padding-bottom: 40px;
	padding-left: 30px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 10px #0000004D;
	overflow-y: scroll;
}
#guide
{
	display: inline-block;
	width: 250px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	box-shadow: 0 3px 10px #0000004D;

	overflow-y: auto;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
#guide::-webkit-scrollbar
{
	display: none;
}
#guide .text
{
	padding-left: 30px;
	line-height: 25px;
}
#guide a
{
	color: black;
}
#guide hr
{
	margin-left: 30px;
	width: calc(250px - 30px * 2);
}
#home
{
	display: block;
	padding-bottom: 30px;
	background-color: black;
	color: white!important;
}
#user
{
	margin-top: 5px;
}
#user[data-tourist="true"]
{
	margin-left: -5px;
}
#user_op
{
	width: 170px;
	height: auto;
	position: fixed;
	padding-left: 30px;
	color: white;
	background-color: black;
	box-shadow: 0 3px 10px #0000004D;
	z-index: 1;
	left: 275px;
	top: 90px;
}
#logo
{
	margin: 20px;
	border-radius: 10px;
}
#counter
{
	margin-top: 15px;
}
#pos
{
	position: absolute;
	left: calc(250px + 50px);
}

/* 分工类 */

/* ----字体*/

.title,.md h1
{
	padding-top: 30px;
	padding-bottom: 20px;
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
.text,.md p,.md a,.md li,input.button
{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 35px;
	font-size: 24px;
}
.md i+p,.md i+a
{
	display: inline-block;
}

/* ----列表 */

li:not(:first-child)>p,li:not(:first-child)>a
{
	padding-top: 5px;
}
li:not(:last-child)>p,li:not(:last-child)>a
{
	padding-bottom: 5px;
}
ul>li
{
	list-style-type: none;
}
.li-icon
{
	margin-left: -20px;
	margin-right: 15px;
}

/* ----分割线 */

hr
{
	display: inline-block;
	width: calc(100% - 30px);
	height: 3.5px;
	border: none;
	background-color: #FFFFFF;
	box-shadow: 0 3px 10px #0000004D;
}

/* ----链接 */

a
{
	text-decoration: none;
	color: #3498DB;
}

/* 表单 */

@-webkit-keyframes input-focus
{
	from {}
	to
	{
		border-left: 3px solid #EFEFEF;
		border-top: 3px solid #EFEFEF;
		border-right: 3px solid black;
		border-bottom: 3px solid black;
	}
}
@-webkit-keyframes button-hover
{
	from {}
	to
	{
		background-color: #FFFFFF;
	}
}
input[type=text],input[type=password],input[type=email]
{
	display: inline-block;
	width: 300px;
	padding: 5px 15px 5px 15px;
	margin: 10px 15px;
	border-left: 3px solid black;
	border-top: 3px solid black;
	border-right: 3px solid #EFEFEF;
	border-bottom: 3px solid #EFEFEF;
	border-radius: 10px 0 10px 0;
	outline: none;
	background-color: #EFEFEF;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus
{
	-webkit-animation: input-focus 1s 1 forwards;
}
.button,input[type=submit]
{
	display: inline-block;
	padding: 5px 15px 5px 15px;
	margin: 10px 15px;
	border: 3px solid black;
	border-radius: 10px 0 10px 0;
	outline: none;
	background-color: #EFEFEF;
}
.button:hover,input[type=submit]:hover
{
	-webkit-animation: button-hover 1s 1 forwards;
}