.log-tag {
    display: inline-block;
    margin: 0 .15em;
    padding: .1em .4em;

    border-radius: .8em;

    white-space: nowrap;
    user-select: none;

    color: white;
    font-size: .8rem;
    transition: .3s background-color;
}

.log-tag:hover {
    cursor: pointer;
}

.log-tag.inversed, .log-tag:hover, .log-tag:focus, .log-tag.filtered {
    background: #39C5BB;
}

.log-tag, .log-tag.inversed:hover, .log-tag.inversed:focus {
    background: #bbb;
}

.log-tag:active {
    animation: .3s bounce;
}
