.tag {
    display: inline-block;
    margin: 0 .15em;
    padding: .1em .4em;

    border-radius: .8em;

    white-space: nowrap;
    user-select: none;

    color: white;
    font-size: .8rem;
    transition: .3s background-color;
}

.tag:hover {
    cursor: pointer;
}

.tag.inversed, .tag:hover, .tag:focus, .tag.filtered {
    background: #39C5BB;
}

.tag, .tag.inversed:hover, .tag.inversed:focus {
    background: #bbb;
}

.tag:active {
    animation: .3s bounce;
}
