.toolbar {
    position: sticky;
    top: -1.5em;
	z-index: 1;

	margin: 0 -1.5em;
    padding: 1em 1.5em .5em;

    background: white;
}

.toolbar-button {
    transition: .3s transform;
}

.toolbar-line {
    line-height: 1.5;
    margin: 0;
}

.toolbar-button {
    display: inline-block;
}

.toolbar-button:hover, .toolbar-button:focus {
    cursor: pointer;
    animation: .3s hop;
}

.toolbar-close {
    float: right;

    padding: 0 1em;

    transition: .3s transform;
}

.toolbar-close:hover {
    cursor: pointer;
    transform: rotate(360deg);
}
