.toolbar {
    position: sticky;
    top: -1.5em;
    padding: .5em 0;

    background: white;
}

.toolbar-button {
    transition: .3s transform;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}

.toolbar-line {
    line-height: 1.5;
    margin: 0;
}

.toolbar-button {
    display: inline-block;
}

.toolbar-button:hover {
    cursor: pointer;
    animation: .3s jump;
}

.toolbar-close {
    float: right;

    padding: 0 1em;

    transition: .3s transform;
}

.toolbar-close:hover {
    transform: rotate(360deg);
}