/* Section: main */

#main
{
    padding: 0;

    overflow: hidden;
}
#main_1, #main_2
{
    display: flex;
    width: 100%;
    height: 100%;
}

/* Section: module */

/* Module: change */

#module_change
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50px;
    height: 100%;

    background-color: black;
}
#module_change_1
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-start;
}
#module_change_2
{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-self: flex-end;
}

/* Module: log */

#module_log
{
    position: relative;
    display: flex;
    flex-wrap: wrap;

    width: calc(100% - 50px);
    height: 100%;
}
#module_log_head
{
    display: flex;

    height: 50px;
    width: 100%;

    background-color: #4d4d4d;
}
#module_log_body
{
    height: calc(100% - 90px);
    width: calc(100% - 40px);
    padding: 20px;

    background-color: #d0d0d0;

    overflow-y: scroll;
}
#module_log_head>.btn_square
{
    margin-left: auto;

    background-color: #f99256;
}
#module_log_head>.btn_square::after, #module_setting_head>.btn_square::after
{
    right: 70px;
    left: unset;
}

.tab_log
{
    align-self: flex-end;

    height: 35px;
    padding: 0 6px 8px 6px;
    margin: 0 5px 0  0;
    border-radius: 11px 11px 0 0;

    color: white;
    background-color: #8e8e8e;
    user-select: none;

    transition: background-color 500ms;
}
.tab_log>i
{
    font-size: 24px;
}
.tab_log.focused, .tab_log:hover
{
    background-color: #d0d0d0;
}
.tav_log>p
{
    line-height: 20px;
    color: #000000;
    font-size: 18px;
    opacity: 0;

    transition: opacity 2s;
}
.tav_log>p.no_animation
{
    opacity: 1;
}
.tav_log p, .tav_log b, .tav_log u, .tav_log strong, .tav_log em, .tav_log li, .tav_log td, .tav_log th
{
    padding: 0;

    color: inherit;
    font-size: inherit;
}
.tav_log a
{
    padding: 0;

    font-size: inherit;
}

/* Module: setting */

#module_setting
{
    position: relative;
    display: flex;
    flex-wrap: wrap;

    width: calc(100% - 50px);
    height: 100%;
}
#module_setting_head
{
    display: flex;

    width: 100%;
    height: 50px;
    padding-left: 20px;

    background: #4d4d4d;
    color: white;
}
#module_setting_head
{
    width: calc(100% - 20px);
}
#module_setting_head>.btn_square
{
    margin-left: auto;

    background-color: #ff2222;
}
#module_setting_body
{
    width: 100%;
    height: calc(100% - 50px);

    padding: 20px;

    background: #d0d0d0;

    overflow-y: scroll;
}
#module_setting_body>div
{
    display: flex;

    margin-bottom: 10px;
}
#module_setting_body>div>p
{
    display: inline-block;

    padding: 0;

    font-size: 18px;
}
#module_setting_body>div>p *
{
    font-size: inherit;
}
#module_setting_body>.switch
{
    vertical-align: top;
    zoom: 0.75;
}

/* Section: Unit */

/* Unit: BtnSquare */

.btn_square
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    font-size: 26px;
    cursor: alias;

    /* Anchor: animation: jelly 500ms; */
}
.btn_square>i
{
    color: white;
}
.btn_square::after
{
    content: attr(name);

    position: absolute;
    justify-content: left;

    visibility: hidden;
    z-index: 1;
    padding: 1px 6px;
    left: 70px;

    background-color: inherit;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    opacity: 0;

    transition: opacity 1s;
}
.btn_square:hover::after
{
    visibility: visible;
    opacity: 1;
}
@keyframes jelly
{
    0%, 100%    { transform: scale(1, 1); }
    25%, 75%    { transform: scale(0.8, 1.2); }
    50%         { transform: scale(1.2, 0.8); }
}

/* Unit: BtnInline */

.btn_inline
{
    display: inline-block;
    padding: 0 10px;

    user-select: none;
    color: black;

    transition: color 100ms;
}
.btn_inline.disabled::before
{
    border-right-color: #8e8e8e!important;
}
.btn_inline.disabled::after
{
    border-left-color: #8e8e8e!important;
}
.btn_inline::before
{
    position: relative;
    display: inline-block;

    top: 4px;
    right: 2px;
    border: 10px solid;
    border-color: transparent #1eb6ff transparent transparent;

    content: "";
    font-weight: bold;

    transition: right 500ms;
}
.btn_inline::after
{
    position: relative;
    display: inline-block;

    top: 4px;
    left: 2px;
    border: 10px solid;
    border-color: transparent transparent transparent #1eb6ff;

    content: "";
    font-weight: bold;

    transition: left 500ms;
}
.btn_inline:not(.disabled):active
{
    color: #1eb6ff;
}
.btn_inline:hover::before
{
    right: 11px;
}
.btn_inline:hover::after
{
    left: 11px;
}

/* Unit: BtnMicro */

.btn_micro
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    width: 25px;
    height: 25px;
    border-radius: 6px;
}
.btn_micro_submit
{
    background-color: #f99256;
    color: #ffffff;
}
.btn_micro_submit.disabled
{
    background-color: #ff2222;
    color: #ffffff;
}
.btn_micro_select
{
    margin-left: 6px;

    opacity: 0;
    background-color: #009c0c;
    color: #ffffff;

    transition: opacity 500ms;
}

/* Unit: Switch */

.switch
{
    display: inline-block;

    width: 60px;
    height: 34px;

    margin: 0 10px;
    border-radius: 17px;

    background-color: #8e8e8e;

    transition: background-color 500ms;
}
.switch::after
{
    position: relative;
    display: block;

    width: 24px;
    height: 24px;
    top: 5px;
    left: 5px;

    content: "";
    background-color: #efefef;
    border-radius: 12px;

    transition: left 500ms;
}
.switch_on
{
    background-color: #1eb6ff;
}
.switch_on::after
{
    left: 30px;
}

/* Unit:  */

input, .select
{
    display: inline-block;

    width: 100px;
    height: 23px;
    padding: 2px 5px 0 5px;
    margin: 0 10px;
    border: 4px solid #1eb6ff;
    border-radius: 12px;

    font-size: inherit;
    font-family: inherit;
    background-color: #c5c5c5;

    transition: background-color 500ms;
}
input.disabled, .select.disabled
{
    border-color: #8e8e8e;
}
input:not(.disabled):hover, input:not(.disabled):focus
{
    background-color: #efefef;
}

/* Unit: Divider */

#module_log_body hr
{
	display: inline-block;
    position: relative;
	width: 100%;
	height: 20px;

	margin: 10px 0;

	background: none;
	box-shadow: none;
}
#module_log_body hr::before
{
	position: absolute;

	padding: 0 5px;
    z-index: 1;

	content: "Barren Land";
	color: #8e8e8e;
	background-color: #d0d0d0;
	word-break: keep-all;

	animation-name: move;
	animation-iteration-count: infinite;
	animation-duration: 12s;
	animation-timing-function: linear;
    animation-play-state: running;
}
#module_log_body hr:hover::before
{
    animation-play-state: paused;
}
#module_log_body hr::after
{
    display: block;
    position: absolute;
    width: 100%;

    margin-top: 10px;
    border: 1px dashed #8e8e8e;

    content: "";
}
@keyframes move
{
	0%, 100% { margin-left: -6px; }
	50% { margin-left: calc(100% - 120px); }
}

/* Unit: Select */

.select
{
    position: relative;
    vertical-align: middle;
    width: auto;
    min-width: 100px;

    transition: background-color 500ms;
}
.select:not(.disabled):hover, .select:not(.disabled).focused
{
    background-color: #efefef;
}
.select:hover + .btn_micro_submit + .btn_micro_select
{
    opacity: 1;
}
.select *
{
    padding: 0;
    font-size: inherit;
}
.select>p:first-child
{
    line-height: 25px;
}
.select>p:first-child.placeholder
{
    color: #787878;
}
.select_list
{
    position: relative;
    display: flex;
    flex-direction: column;

    top: 10px;
    left: -8px;

    border-style: solid;
    border-width: 3px 5px;
    border-color: #1eb6ff;
    border-radius: 5px;

    word-break: keep-all;
    background-color: #C5C5C5;
    visibility: hidden;
    opacity: 0;

    transition: opacity 500ms;
}
.select.disabled>.select_list
{
    visibility: hidden;
}
.select_item
{
    padding: 2px 20px;
    line-height: 25px;

    font-size: inherit;
    background-color: #C5C5C5;

    transition: background-color 500ms;
}
.select_item:first-child
{
    padding-top: 3px;
}
.select_item:last-child
{
    padding-bottom: 0;
}
.select_item:hover
{
    background-color: #efefef;
}
.select_item_chosen::before
{
    position: absolute;
    display: inline-block;

    float: left;
    left: 0;
    border: 10px solid;
    border-color: transparent transparent transparent #1eb6ff;

    content: "";
    font-weight: bold;
}
.select_item_chosen::after
{
    position: absolute;
    display: inline-block;

    float: right;
    right: 0;
    border: 10px solid;
    border-color: transparent #1eb6ff transparent transparent;

    content: "";
    font-weight: bold;
}