@charset "UTF-8";
@import "WuicyColor";

// :: Constants

$sqrt-2: 1.4142;

// :: Basic wuicies

.w-root {
    width: 100%;
    height: 100%;

    background-color: map_get($w-colors, "bowl");
}

.w-link {
    display: inline-block;
}
@keyframes w-link-juice-line-move {
    0% {
        left: 50%;
        width: calc(50% + 8px);
    }
    35% {
        left: -8px;
        width: calc(50% + 8px);
    }
    100% {
        left: -8px;
        width: calc(100% + 16px);
    }
}
@keyframes w-link-juice-line-jump {
    0% { top: 0; }
    25% { top: 5px; }
    65% { top: 0; }
    80% { top: 10px; }
    100% { top: 0; }
}
.w-link-juice {
    text-decoration: none;
    transition: color .5s;

    &.w-link-line-normal, &.w-link-line-bold {
        &::after {
            position: relative;
            display: block;

            left: -8px;
            width: calc(100% + 16px);

            border: dashed map_get($w-colors, "orange");
            box-shadow: 0 1px 3px map_get($w-colors, "orange");
            content: "";

            animation: w-link-juice-line-move 2s forwards;
            animation-iteration-count: 1;
        }
        &:hover::after {
            animation: w-link-juice-line-jump 1s;
        }

        &.w-link-line-normal::after {
            border-width: 1px 0 0 0;
        }
        &.w-link-line-bold::after {
            border-width: 1px 0;
        }

        > *:last-child { margin-bottom: 3px; }
    }

    &.w-link-line-ripple {
        display: block;
        position: relative;
        box-sizing: content-box;
        overflow: hidden;

        &::before, &::after {
            display: block;
            position: absolute;

            width: 100px;
            height: 100px;
            top: calc(50% - #{10px * $sqrt-2} - 2.5px);

            border: {
                radius: 0 0 40% 0;
                color: #face80;
                width: 0 3px 3px 0;
                style: solid;
            }

            content: "";
            transform: rotate(-45deg) translateY(-50%);
            transition: left 1.5s;
        }

        &::before	{ left: -130px; }
        &::after	{ left: -100px; }

        &:hover {
            &::before	{ left: calc(100% - 30px); }
            &::after	{ left: 100%; }
        }
    }

    > .w-para {
        width: 100%;
        transition: color .5s;
    }
    &:hover > .w-para:not(.w-color-fix) { color: map_get($w-colors, "banana"); }
}

.w-para-juice {
    > .w-para-left-icon { margin-right: 15px; }
    > .w-para-right-icon { margin-left: auto; }
}

.w-badge-juice {
    display: inline-block;
    position: relative;

    > .w-icon { margin-right: 5px; }

    &.w-badge-extra-fix {
        .w-badge-text { border-radius: 10px 0 0 10px; }
        .w-badge-extra-text { border-radius: 0 10px 10px 0; }
    }

    &.w-badge-extra-share {
        .w-badge-text {
            display: inline-flex;
            position: relative;
            z-index: 2;

            box-sizing: border-box;
            height: 100%;

            padding: 0 10px;

            border-radius: 10px;
            text-align: center;
            align-items: baseline;

            transition: border-radius .5s;
        }

        .w-badge-extra-text {
            display: inline-flex;
            position: relative;
            z-index: 1;

            box-sizing: border-box;
            left: -11px;
            max-width: 0;
            height: 100%;

            align-items: baseline;
            padding-right: 10px;
            border-radius: 0 10px 10px 0;

            overflow: hidden;

            transition: max-width .5s, padding-left .5s;
        }

        &:hover .w-badge-text { border-radius: 10px 0 0 10px; }

        &:hover .w-badge-extra-text {
            max-width: 100%;
            padding-left: 16px;
        }
    }
}

// :: Structure wuicies

.w-nav-juice {
    width: 250px;
    height: 100%;
    box-shadow: 0 1px 5px 1px map_get($w-colors, "banana");
    background-color: map_get($w-colors, "snowpear");

    > .w-link {
        display: block;
        transition: background-color .5s;

        &:hover { background-color: map_get($w-colors, "litchi"); }
    }
    > .w-para, .w-link, .w-badge {
        &:not(:first-child) {
            padding: 2.5px 15px;
            max-width: calc(100% - 30px);
        }
    }
}

// :: Form wuicies

.w-button-juice {
    display: inline-block;

    margin: 0 5px;
    padding: 3px 7px;

    border: 1px solid map_get($w-colors, "orange");
    border-radius: 8px;
    box-shadow: 0 0 6px map_get($w-colors, "orange");
}

// :: Literals

.w-size-title {
    text-align: center;
    font-size: 34px;
}
.w-size-subtitle {
    font-size: 27px;
}
.w-size-normal {
    font-size: 16px;
}
