#main
{
	z-index: 0;
}
#m_search
{
	position: relative;
	z-index: 0;
}
#search
{
	position: relative;
	z-index: -2;

	transition: margin-top 1s;
}
#search_cover
{
	position: absolute;
	z-index: -1;
	display: block;

	top: 0;
	width: 100%;
	height: 150px;

	background-color: #ffffff;
}
#btn_back
{
	position: absolute;
	right: 35px;
	top: 15px;

	background-color: white;
	box-shadow: 0 3px 10px #0000004D;
}